body {
  text-align: center;
  background: lightblue;
}

body ul {
  list-style: none;
}

body ul li {
  margin: 10px 0;
}

body ul li a {
  color: white;
  text-decoration: none;
}

body ul li a:hover {
  color: yellow;
}

